body{
    background-color: #121212;
}
#header{
    background-color: #272727;
    text-align: center;
    color: snow;
    font-family: arial, sans-serif;
}
#logo{
   width: 150px;
   height: 150px;
}
#redline{
    background-color: red;
    max-height: 3px;

}
#main{
    color: white;
    font-family: sans-serif;
    font-size: 15px; 
  
    background-color:#272727;
    margin-top: 10px;
    overflow: auto;
}

#Browse ul{
    list-style-type: none;
    margin: 0
      ;
    padding: 0;
    overflow: hidden;
    background-color: #272727;
}
#Browse li{
    float: left;
    font-family:  sans-serif; 
    font-size: 14px;
}
#Browse li a{
    display: block;
    background-color: #272727;
    padding: 8px 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: inherit
      ;
    font-weight: bold;
}
#Browse li a:hover{
    background-color: slategrey;

} 
#Content{
    float: right;
    padding:5px;
  
}
#link{
    text-transform: capitalize;
    color: black;
    text-align: center;
}
#link:link{
    text-decoration: none;
}
#link:visited{
    text-decoration: none;
}
#link:hover{
    text-decoration: underline;  
}
#link:active{
    text-decoration: underline;
}
